C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/scratch/rdhs.json
C:/Users/josephh/Documents/GitHub/RP-Malcomb/data/raw/private/rdhs.json
/Users/majacannavo/Documents/RP-Malcomb/data/raw/private/rdhs.json
